{{ define "home" }}
    {{ template "base" . }}
{{ end }}

{{ define "title" }}mums | Home{{ end }}

{{ define "content" }}
    <div class="flex flex-col gap-6">

        <h1 class="text-center text-2xl text-backdrop-content">
            Welcome back {{- if .UserProfileName }} <span class="inline-block align-bottom max-w-full truncate border-b-2 border-brand-primary -mb-[2px]">{{ .UserProfileName }}</span> {{- end }}!
        </h1>

        <div class="self-center max-w-full flex flex-col items-center gap-6">

        {{ if .UserPhaddergruppSummaries }}
            <ul class="flex flex-col gap-3 w-full">

            {{ $root := . }}
            {{ range $i, $s := .UserPhaddergruppSummaries }}
                <li class="flex flex-col gap-3">
                    <a href="/phaddergrupp/{{ .ID }}" class="flex items-center gap-4 w-full min-w-0 p-4
                       bg-card rounded-xl shadow-sm border-l-4 border-[{{ .PrimaryColor }}]
                       hover:bg-gray-50 hover:shadow-lg hover:border-[{{ .SecondaryColor }}]
                       active:bg-gray-50 active:shadow-lg active:border-[{{ .SecondaryColor }}]
                       transition-all duration-200 text-card-content">

                        {{ if $s.LogoPath.Valid }}
                            <div class="shrink-0">
                                <img src="/phaddergrupp/{{ $s.ID }}/logo" alt="Logo for {{ $s.Name }}" class="size-12 rounded-full object-cover border-2 border-card-border">
                            </div>
                        {{ end }}

                        <p class="flex-1 min-w-0 text-lg max-w-full truncate">{{ $s.Name }}</p>

                        <div class="flex shrink-0 items-center gap-1 text-sm">

                            <span class="flex items-center gap-1 text-card-content-muted rounded-full border-2 px-2 py-1 {{ if eq $s.PhaddergruppRole "phadder" }} shadow-md border-[{{ $s.PrimaryColor }}] {{ else }} border-transparent {{ end }}" title="Phaddrar">
                                <img src="/static/icons/student-cap.svg" alt="Phadder count" class="size-5" />
                                <span class="font-semibold w-[2ch] text-right">{{ $s.PhadderCount }}</span>
                            </span>
                            
                            <span class="flex items-center gap-1 text-card-content-muted rounded-full border-2 px-2 py-1 {{ if eq $s.PhaddergruppRole "n0lla" }} shadow-md border-[{{ $s.SecondaryColor }}] {{ else }} border-transparent {{ end }}" title="N0llor">
                                <img src="/static/icons/cap.svg" alt="N0lla count" class="size-5" />
                                <span class="font-semibold w-[2ch] text-right">{{ $s.N0llaCount }}</span>
                            </span>
                            
                            <span class="flex items-center gap-1 text-card-content-highlight" title="Your mums">
                                <img src="/static/icons/mums.svg" alt="Mums available" class="size-5" />
                                <output class="font-bold w-[2ch]">{{ $s.MumsAvailable }}</output>
                            </span>

                        </div>

                    </a>
                    {{ if and ($root.HasMoreThanOneUserPhaddergruppSummary) (eq $i 0) }}
                        <p class="text-xs text-center text-backdrop-content-muted">󱞽 Current 󱞿</p>
                    {{ end }}
                </li>
            {{ end }}

            </ul>
        {{ else }}
            <p class="text-center text-backdrop-content-muted">
                You're not part of a phaddergrupp yet. Ask a phadder for an invite, or start your own below.
            </p>
        {{ end }}

        {{ template "component-divider" dict "Class" "border-brand-primary" }}

        <h2 class="text-center text-xl font-semibold text-backdrop-content">Create a new phaddergrupp</h2>
        <form hx-post="/" hx-target="#form-fields" hx-swap="outerHTML" class="w-full flex flex-col gap-6">
            {{ template "fragment-form-fields" . }}
            {{ template "component-primary-button" dict "Text" "Create phaddergrupp" }}
        </form>

        </div>

    </div>
{{ end }}

{{ define "fragment-form-fields" }}
    <div id="form-fields" class="flex flex-col gap-6">
        {{ template "component-form-input-field" dict
            "ID" "phaddergrupp-name-field"
            "Label" "Phaddergrupp name"
            "Name" "phaddergrupp-name"
            "Type" "text"
            "Required" true
            "Value" .PhaddergruppName
            "Errors" .Errors.PhaddergruppName
        }}
        {{ template "component-form-input-field" dict
            "ID" "swish-recipient-number-field"
            "Label" "Swish recipient's number"
            "InfoLabel" "Format example: 0704201337"
            "Name" "swish-recipient-number"
            "Type" "tel"
            "Pattern" .SwishRecipientNumberPattern
            "Required" true
            "Value" .SwishRecipientNumber
            "Errors" .Errors.SwishRecipientNumber
        }}
        {{ template "component-generic-errors" . }}
    </div>
{{ end }}
