{{ define "home" }}
{{ template "base" . }}
{{ end }}

{{ block "title" . }}mums | Home{{ end }}

{{ define "content" }}
<div class="flex flex-col">

    <p class="text-center text-2xl max-w-lg mt-8 {{ if .UserPhaddergruppSummaries }} mb-12 {{ end }}">
        Welcome back {{- if .UserProfileName }} <span class="flex-shrink-0 max-w-lg truncate border-b-2 border-d">{{ .UserProfileName }}</span> {{- end }}!
    </p>

    {{ if .UserPhaddergruppSummaries }}
    <div class="max-w-sm sm:max-w-3xl mx-auto space-y-3 px-4">

        {{ $root := . }}
        {{ range $i, $s := .UserPhaddergruppSummaries }}
        <a href="/phaddergrupp/{{ .ID }}" class="flex items-center w-full p-4
        bg-white rounded-xl shadow-sm border-l-4 border-[{{ .PrimaryColor }}]
        hover:bg-gray-50 hover:shadow-lg hover:border-[{{ .SecondaryColor }}]
        focus:bg-gray-50 focus:shadow-lg focus:border-[{{ .SecondaryColor }}]
        transition-all duration-200 text-gray-900">

            {{ if $s.LogoPath.Valid }}
            <div class="flex-shrink-0 mr-4">
                <img src="/phaddergrupp/{{ $s.ID }}/logo" alt="Logo for {{ $s.Name }}" class="w-12 h-12 rounded-full object-cover border-2 border-gray-200">
            </div>
            {{ end }}

            <div class="flex-1 min-w-0 mr-4">
                <p class="text-lg truncate">{{ $s.Name }}</p>
            </div>

            <div class="flex flex-shrink-0 items-center space-x-3 text-sm">

                <span class="flex items-center text-gray-600 rounded-full border-2 px-2 py-1 {{ if eq $s.PhaddergruppRole "phadder" }} shadow-md border-[{{ $s.PrimaryColor }}] {{ else }} border-transparent {{ end }}" title="Phaddrar">
                    <img src="/static/icons/student-cap.svg" alt="Phadder count" class="w-5 h-5 mr-1" />
                    <span class="font-semibold w-[2ch] text-right">{{ $s.PhadderCount }}</span>
                </span>
                
                <span class="flex items-center text-gray-600 rounded-full border-2 px-2 py-1 {{ if eq $s.PhaddergruppRole "n0lla" }} shadow-md border-[{{ $s.SecondaryColor }}] {{ else }} border-transparent {{ end }}" title="N0llor">
                    <img src="/static/icons/cap.svg" alt="N0lla count" class="w-5 h-5 mr-1" />
                    <span class="font-semibold w-[2ch] text-right">{{ $s.N0llaCount }}</span>
                </span>
                
                <span class="flex items-center text-indigo-600" title="Your mums">
                    <img src="/static/icons/mums.svg" alt="Mums available" class="w-5 h-5 mr-1" />
                    <span class="font-bold w-[2ch]">{{ $s.MumsAvailable }}</span>
                </span>

            </div>

        </a>
        {{ if and ($root.HasMoreThanOneUserPhaddergruppSummary) (eq $i 0) }} <p class="text-xs text-center text-gray-400">󱞽 Current 󱞿</p> {{ end }}
        {{ end }}

    </div>
    {{ end }}

    <form hx-post="/" hx-target="#form-fields" hx-swap="outerHTML" class="max-w-md mx-auto p-4 my-8 border-t-2 border-d">
        {{ template "fragment-form-fields" . }}
        {{ template "component-form-submit-button" dict "Text" "Create phaddergrupp" }}
    </form>

</div>
{{ end }}

{{ define "fragment-form-fields" }}
<div id="form-fields">
    {{ template "component-form-input-field" dict
        "ID" "phaddergrupp-name-field"
        "Label" "Phaddergrupp name"
        "Name" "phaddergrupp-name"
        "Type" "text"
        "Required" true
        "Value" .PhaddergruppName
    }}
    {{ template "component-form-input-field" dict
        "ID" "swish-recipient-number-field"
        "Label" "Swish recipient's number"
        "InfoLabel" "Format example: 0704201337"
        "Name" "swish-recipient-number"
        "Type" "tel"
        "Pattern" .SwishRecipientNumberPattern
        "Required" true
        "Value" .SwishRecipientNumber
    }}
    {{ template "component-form-errors" dict "Errors" .Errors.Generic }}
</div>
{{ end }}
