{{ define "login" }}
    {{ template "base" . }}
{{ end }}

{{ define "title" }}mums | Login{{ end }}

{{ define "content" }}
    <div class="self-center max-w-full flex flex-col items-center gap-12 mb-24">
        <h1 class="flex flex-col items-center gap-4 text-2xl text-backdrop-content">
            <img src="/static/icons/mums.svg" alt="Logo" class="size-24" />
            <span>Feelin' thirsty?</span>
        </h1>

        <form hx-post="/login" hx-target="#form-fields" hx-swap="outerHTML" class="flex flex-col gap-6">
            {{ template "fragment-form-fields" . }}
            {{ template "component-primary-button" dict "Text" "Login" }}
            <p class="text-center text-sm text-backdrop-content-muted">
                Don't have an account yet?
                <a href="/register" class="text-backdrop-content-highlight hover:underline">Register</a>
            </p>
            <p class="text-center text-sm text-backdrop-content-muted">
                <a href="/password-reset" class="text-backdrop-content-highlight hover:underline">Forgot your password?</a>
            </p>
        </form>
    </div>
{{ end }}

{{ define "fragment-form-fields" }}
    <div id="form-fields" class="flex flex-col gap-6">
        {{ template "component-form-input-field" dict
            "ID" "email-field"
            "Label" "Email address"
            "Name" "email"
            "Type" "email"
            "Autocomplete" "email"
            "Required" true
            "Value" .Email
        }}
        {{ template "component-password-field" dict "Autocomplete" "current-password" }}
        {{ template "component-generic-errors" . }}
    </div>
{{ end }}
