{{ define "password-reset-confirm" }}
    {{ template "base" . }}
{{ end }}

{{ define "title" }}mums | Reset Password{{ end }}

{{ define "content" }}
    <div class="self-center max-w-full flex flex-col items-center gap-12 mb-24">
        {{ template "fragment-form-fields" . }}
    </div>
{{ end }}

{{ define "fragment-form-fields" }}
    <div id="form-fields" class="flex flex-col items-center gap-6">
        {{ if .Valid }}
            <h1 class="flex flex-col items-center gap-4 text-2xl text-backdrop-content">
                <img src="/static/icons/mums.svg" alt="Logo" class="size-24" />
                <span>Choose wisely</span>
            </h1>
            <form hx-post="/password-reset/{{ .Token }}" hx-target="#form-fields" hx-swap="outerHTML" class="w-full flex flex-col gap-6">
                {{ template "component-form-input-field" dict
                    "ID" "new-password-field"
                    "Label" "New password"
                    "Name" "new-password"
                    "Type" "password"
                    "Autocomplete" "new-password"
                    "Required" true
                }}
                {{ template "component-form-input-field" dict
                    "ID" "confirm-password-field"
                    "Label" "Confirm new password"
                    "Name" "confirm-password"
                    "Type" "password"
                    "Autocomplete" "new-password"
                    "Required" true
                    "Errors" .Errors.PasswordConfirm
                }}
                {{ template "component-generic-errors" . }}
                {{ template "component-primary-button" dict "Text" "Reset password" }}
            </form>
        {{ else }}
            <h1 class="text-center text-2xl text-backdrop-content">That link's gone flat...</h1>
            <p class="text-6xl font-bold text-backdrop-content-muted">:(</p>
            <p class="text-center text-sm text-backdrop-content-muted">This reset link is invalid or has expired.</p>
            <a href="/password-reset" class="text-backdrop-content-highlight hover:underline">Request a new reset link</a>
        {{ end }}
    </div>
{{ end }}
