{{ define "phaddergrupp" }}
{{ template "base" . }}
{{ end }}

{{ block "title" . }}mums | Phaddergrupp{{ end }}

{{ define "head" }}
<script
    src="https://cdn.jsdelivr.net/npm/htmx-ext-sse@2.2.4"
    integrity="sha384-A986SAtodyH8eg8x8irJnYUk7i9inVQqYigD6qZ9evobksGNIXfeFvDwLSHcp31N"
    crossorigin="anonymous"
></script>
{{ end }}

{{ define "content" }}
<div
    hx-ext="sse"
    sse-connect="/phaddergrupp/{{ .PhaddergruppID }}/event-stream"
    class="w-full flex flex-col items-center"
>

    <div class="max-w-sm flex flex-col justify-center">
        {{ if .LogoFilePath.Valid }}
        <img src="{{ .LogoFilePath.String }}" alt="Logo" class="w-24 h-24 mb-4" />
        {{ end }}

        <p class="flex-shrink-0 text-center text-5xl break-words text-gray-900">{{ .PhaddergruppData.Name }}</p>

        <div class="flex justify-center items-center text-center font-semibold text-xl text-gray-500">
            -&nbsp;
            {{ if .IsPhadder }} 
            <img src="/static/icons/student-cap.svg" alt="Phadder role" class="w-5 h-5 mr-1.5" />
            <span>Phadder</span>
            {{ else }} 
            <img src="/static/icons/cap.svg" alt="N0lla role" class="w-5 h-5 mr-1.5" />
            <span>N0lla</span>
            {{ end }}
            &nbsp;-
        </div>

        <p class="flex-shrink-0 text-center text-3xl break-words text-gray-700 truncate mt-2">{{ .UserProfileData.Name }}</p>
    </div>

    {{ if .IsPhadder }}
    {{ template "member-lists" . }}
    {{ end }}

    {{ if not .IsPhadder }}
    {{ template "mums-available-widget" . }}
    {{ end }}

    {{ if .IsPhadder }}
    <div class="w-full max-w-xs flex flex-col items-center mt-6 pt-3 space-y-3 border-t-2 border-[{{ .PrimaryColor }}]">
        {{ template "invite-link" dict
            "Label" "Invite Phaddrar"
            "URL" .InviteURLPhadder
        }}
        {{ template "invite-link" dict
            "Label" "Invite N0llor"
            "URL" .InviteURLN0lla
        }}
    </div>

    <div class="w-full max-w-xs flex justify-center mt-6 pt-6 border-t-2 border-[{{ .PrimaryColor }}]">
        <a 
            href="/phaddergrupp/{{ .PhaddergruppID }}/settings"
            class="bg-[{{ .PrimaryColor }}] text-white text-center w-full max-w-xs py-2 rounded-md text-lg font-semibold hover:bg-[{{ .SecondaryColor }}] focus:bg-[{{ .SecondaryColor }}]"
        > Settings</a>
    </div>
    {{ end }}

</div>
{{ end }}

{{ define "member-lists" }}
<div 
    sse-swap="mums-available-badge-update"
    hx-swap="none"
    class="mt-8 pb-3 space-y-3"
>
    {{ if .PhaddergruppUserSummaries.N0llas }}
    <div>
        <p class="text-xs text-center text-gray-400 mb-1">󱞡 N0llor 󱞣</p>
        {{ template "member-list" dict 
            "PhaddergruppID" .PhaddergruppID
            "UserSummaries" .PhaddergruppUserSummaries.N0llas
            "Color" .PrimaryColor
        }}
        <p class="text-xs text-center text-gray-400 mt-1">󱞽 N0llor 󱞿</p>
    </div>
    {{ end }}
    {{ if .PhaddergruppUserSummaries.Phadders }}
    <div>
        <p class="text-xs text-center text-gray-400 mb-1">󱞡 Phaddrar 󱞣</p>
        {{ template "member-list" dict
            "PhaddergruppID" .PhaddergruppID
            "UserSummaries" .PhaddergruppUserSummaries.Phadders
            "Color" .SecondaryColor
        }}
        <p class="text-xs text-center text-gray-400 mt-1">󱞽 Phaddrar 󱞿</p>
    </div>
    {{ end }}
</div>
{{ end }}

{{ define "member-list" }}
<div class="max-w-sm sm:max-w-3xl space-y-3 px-4">
    {{ $root := . }}
    {{ range $_, $s := .UserSummaries }}
    {{ template "member-summary-card" dict 
        "Color" $root.Color
        "PhaddergruppID" $root.PhaddergruppID
        "MemberSummary" $s
    }}
    {{ end }}
</div>
{{ end }}

{{ define "member-summary-card" }}
<div
    id="member-summary-card-{{ .MemberSummary.UserAccountID }}"
    class="flex items-center w-full p-4
           bg-white rounded-xl shadow-sm border-l-4 border-[{{ .Color }}]
           text-gray-900"
>

    <div class="flex-1 min-w-0 space-y-1 mr-4">
        <p class="text-lg truncate whitespace-nowrap overflow-hidden">{{ .MemberSummary.UserProfileName }}</p>
        
        <div class="flex items-center">
            <button 
                hx-post="/phaddergrupp/{{ .PhaddergruppID }}/kick?user-account-id={{ .MemberSummary.UserAccountID }}"
                hx-confirm="Are you sure you want to kick {{ .MemberSummary.UserProfileName }} from this phaddergrupp?"
                hx-swap="delete"
                hx-target="#member-summary-card-{{ .MemberSummary.UserAccountID }}"
                class="rounded-full px-4 py-1 bg-red-600 border-2 border-dashed border-yellow-400 shadow-lg hover:bg-red-700 focus:bg-red-700"
                title="Kick user from phaddergrupp"   
            > 
                <img src="/static/icons/kick.svg" alt="Kick user" class="w-5 h-5 invert" />
            </button>

            {{ template "mums-available-badge" dict
                "UserAccountID" .MemberSummary.UserAccountID
                "DoOOB" false
                "MumsAvailable" .MemberSummary.MumsAvailable
            }}
        </div>
    </div>

    <div class="flex flex-shrink-0 ml-auto items-center space-x-4">

        <button
            hx-post="/phaddergrupp/{{ .PhaddergruppID }}/mums/adjust?user-account-id={{ .MemberSummary.UserAccountID }}&delta=1"
            hx-swap="none"
            hx-on::after-request="this.blur()"
            class="touch-manipulation rounded-full shadow-md hover:bg-gray-100 focus:bg-gray-100 p-2" title="Increment user's mums"
        > 
            <img src="/static/icons/plus.svg" alt="Increment mums" class="w-12 h-12" />
        </button>
        
        <button
            hx-post="/phaddergrupp/{{ .PhaddergruppID }}/mums/adjust?user-account-id={{ .MemberSummary.UserAccountID }}&delta=-1"
            hx-swap="none"
            hx-on::after-request="this.blur()"
            class="touch-manipulation rounded-full shadow-md hover:bg-gray-100 focus:bg-gray-100 p-2" title="Decrement user's mums"
        > 
            <img src="/static/icons/minus.svg" alt="Decrement mums" class="w-12 h-12" />
        </button>

    </div>

</div>
{{ end }}

{{ define "mums-available-badge" }}
<div class="flex mx-auto items-center text-indigo-600 " title="User's mums">
    <img src="/static/icons/mums.svg" alt="Mums available" class="w-8 h-8 mr-1" />
    <span 
    id="mums-available-badge-{{ .UserAccountID }}"
    {{ if .DoOOB -}} hx-swap-oob="true" {{- end }}
    class="font-bold text-2xl text-right w-[2ch]"
    >{{ .MumsAvailable }}</span>
</div>
{{ end }}

{{ define "mums-available-widget" }}
<div
    id="mums-available-widget"
    sse-swap="mums-available-widget-update"
    hx-swap="outerHTML"
>
    <div id="mums-available" class="text-center text-[192px] leading-tight {{ if .MumsCapacityReached }} text-red-700 {{ else }} text-gray-900 {{ end }}">
        {{- .MumsAvailable -}}
    </div>

    <div class="flex flex-row justify-center gap-6 w-full">
        {{ if not .MumsCapacityReached }}
        <form hx-post="/phaddergrupp/{{ .PhaddergruppID }}/purchase-mums" hx-swap="none" class="flex flex-row text-white gap-3 bg-inherit">
            <button type="submit" class="flex justify-center items-center
                     gap-2 bg-[{{ .PrimaryColor }}] px-6 py-4 rounded-md 
                     text-2xl font-semibold hover:bg-[{{ .SecondaryColor }}]
                     focus:bg-[{{ .SecondaryColor }}]"
            >
                <img src="/static/icons/cart.svg" class="w-6 h-6 invert" alt="Purchase mums"/>
                <span class="font-semibold">Buy</span>
            </button>
            
            <select name="mums-purchase-quantity" class="text-center bg-[{{ .SecondaryColor }}] rounded-md px-2 py-3 text-xl w-16">
                {{ range .MumsPurchaseQuantities }}
                <option>{{ . }}</option>
                {{ end }}
            </select>
        </form>
        {{ end }}
        
        {{ if .HasMumsAvailable }}
        <button 
            hx-post="/phaddergrupp/{{ .PhaddergruppID }}/mumsa" 
            hx-target="#mums-available-widget"
            hx-swap="outerHTML"
            hx-confirm="Are you sure you want to consume one mums?"
            class="touch-manipulation flex justify-center items-center gap-3 bg-[{{ .PrimaryColor }}] text-white
                   px-6 py-3 rounded-md text-2xl font-semibold hover:bg-[{{ .SecondaryColor }}]
                   focus:bg-[{{ .SecondaryColor }}] shadow-md"
        >
            <img src="/static/icons/drink.svg" class="w-6 h-6 invert" alt="Mumsa"/>
            <span class="font-semibold">Mumsa</span>
        </button>
        {{ end }}

    </div>
</div>
{{ end }}

{{ define "invite-link" }}
<div class="w-full">
    <label class="block text-sm font-medium text-gray-400 mb-1">
        {{ .Label }}
    </label>
    <input
        type="text"
        data-url="{{ .URL }}"
        value="{{ .URL }}"
        readonly
        hx-trigger="click"
        hx-on:click="
            navigator.clipboard.writeText(this.dataset.url)
                .then(() => {
                    this.value = '- Copied -';
                    const copyStyleAdd = [
                        'text-center',
                        'text-green-600',
                        'font-semibold',
                        'border-green-600'
                    ];
                    const copyStyleRemove = [
                        'border-gray-300'
                    ];
                    this.classList.add(...copyStyleAdd);
                    this.classList.remove(...copyStyleRemove);
                    setTimeout(() => {
                        this.value = this.dataset.url;
                        this.classList.remove(...copyStyleAdd);
                        this.classList.add(...copyStyleRemove);
                    }, 1000);
                })
                .catch(err => console.error('Failed to copy: ', err))
        "
        class="w-full rounded-md border-2 border-gray-300 px-3 py-2 text-sm text-gray-900
               cursor-pointer caret-transparent truncate select-all focus:outline-none"
        title="Click to copy"
    />
</div>
{{ end }}
