{{ define "register" }}
{{ template "base" . }}
{{ end }}

{{ block "title" . }}mums | Register{{ end }}

{{ define "content" }}
<div class="flex flex-col">

    <p class="text-center text-2xl my-12">
        Welcome to mums!
    </p>

    <form hx-post="/register" hx-target="#form-fields" hx-swap="outerHTML" class="max-w-md mx-auto px-4">
        {{ template "form-fields" . }}
        {{ template "form-submit-button" dict "Text" "Register" }}
        <p class="mt-6 text-center text-sm text-gray-600">
            Already have an account?
            <a href="/login" class="text-indigo-600 hover:underline">Login</a>
        </p>
    </form>

</div>
{{ end }}

{{ define "form-fields" }}
<div id="form-fields">
    {{ template "form-input-field" dict
        "ID" "name-field"
        "Label" "Name"
        "Name" "name"
        "Type" "text"
        "Required" true
        "Value" .Name
    }}
    {{ template "form-input-field" dict
        "ID" "email-field"
        "Label" "Email address"
        "Name" "email"
        "Type" "email"
        "Autocomplete" "email"
        "Required" true
        "Value" .Email
        "Errors" .Errors.Email
    }}
    {{ template "form-input-field" dict
        "ID" "password-field"
        "Label" "Password"
        "Name" "password"
        "Type" "password"
        "Required" true
    }}
    {{ template "form-input-field" dict
        "ID" "confirm-password-field"
        "Label" "Confirm password"
        "Name" "confirm-password"
        "Type" "password"
        "Required" true
        "Errors" .Errors.PasswordConfirm
    }}
    {{ template "form-errors" dict "Errors" .Errors.Generic }}
</div>
{{ end }}
