{{ define "register" }}
    {{ template "base" . }}
{{ end }}

{{ define "title" }}mums | Register{{ end }}

{{ define "content" }}
    <div class="self-center max-w-full flex flex-col items-center gap-12">

        <h1 class="flex flex-col items-center gap-4 text-2xl text-backdrop-content">
            <img src="/static/icons/mums.svg" alt="Logo" class="size-24" />
            <span>Welcome to mums!</span>
        </h1>

        <form hx-post="/register" hx-target="#form-fields" hx-swap="outerHTML" class="flex flex-col gap-6">
            {{ template "fragment-form-fields" . }}
            {{ template "component-primary-button" dict "Text" "Register" }}
            <p class="text-center text-sm text-backdrop-content-muted">
                Already have an account?
                <a href="/login" class="text-backdrop-content-highlight hover:underline">Login</a>
            </p>
        </form>

    </div>
{{ end }}

{{ define "fragment-form-fields" }}
    <div id="form-fields" class="flex flex-col gap-6">
        {{ template "component-form-input-field" dict
            "ID" "name-field"
            "Label" "Name"
            "Name" "name"
            "Type" "text"
            "Required" true
            "Value" .Name
        }}
        {{ template "component-form-input-field" dict
            "ID" "email-field"
            "Label" "Email address"
            "Name" "email"
            "Type" "email"
            "Autocomplete" "email"
            "Required" true
            "Value" .Email
            "Errors" .Errors.Email
        }}
        {{ template "component-password-field" dict "Autocomplete" "new-password" }}
        {{ template "component-form-input-field" dict
            "ID" "confirm-password-field"
            "Label" "Confirm password"
            "Name" "confirm-password"
            "Type" "password"
            "Autocomplete" "new-password"
            "Required" true
            "Errors" .Errors.PasswordConfirm
        }}
        {{ template "component-generic-errors" . }}
    </div>
{{ end }}
