{{ define "base" }}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <title>{{ block "title" . }}mums{{ end }}</title>
            <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
            <link rel="manifest" href="/static/manifest.webmanifest" />
            <meta name="theme-color" content="#f280a1" />
            <meta name="mobile-web-app-capable" content="yes" />
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta name="apple-mobile-web-app-status-bar-style" content="default" />
            <meta name="apple-mobile-web-app-title" content="mums" />
            <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/mums-180.png" />
            {{ template "import-htmx" . }}
            {{ template "import-tailwind" . }}
            <meta name="csrf-token" content="{{ .CSRFToken }}" />
            <script type="text/javascript">
                document.addEventListener("DOMContentLoaded", (_) => {
                    document.body.addEventListener("htmx:configRequest", function(event) {
                        const meta = document.querySelector('meta[name="csrf-token"]');
                        if (meta) {
                            event.detail.headers["HX-CSRF-Token"] = meta.content;
                        }
                    });
                });
            </script>
            {{ if .AllowedErrorCodes }}
                <script type="text/javascript">
                    document.addEventListener("DOMContentLoaded", (_) => {
                        document.body.addEventListener("htmx:beforeSwap", function(event) {
                            const status = event.detail.xhr.status;
                            if ({{ range $i, $code := .AllowedErrorCodes }} {{ if $i }} || {{ end }} status == {{ $code }} {{ end }}) {
                                event.detail.shouldSwap = true;
                                event.detail.isError = false;
                            }
                        });
                    });
                </script> 
            {{ end }}
            {{ block "head" . }}
            {{ end }}
        </head>
        <body class="min-h-screen flex flex-col font-iosevka gap-12">
            <header class="sticky top-0 z-1337 bg-backdrop">
                <nav class="border-b border-backdrop-border">
                    <div class="max-w-7xl mx-auto px-4 sm:px-8 flex justify-between h-16">
                        <div class="shrink-0 flex flex-1 justify-start items-center">
                            <a href="/">
                                <img class="h-10 w-auto" src="/static/icons/mums.svg" alt="Logo" />
                            </a>
                        </div>
                        <ul class="hidden sm:-my-px sm:flex sm:flex-1 justify-center sm:gap-8">
                            <li class="flex">{{ template "component-nav-link" dict "Href" "/" "Text" "Home" }}</li>
                            <li class="flex">{{ template "component-nav-link" dict "Href" "/about" "Text" "About" }}</li>
                        </ul>
                        <ul class="sm:hidden -my-px flex flex-1 justify-center">
                            <li class="flex">{{ template "component-nav-link" dict "Href" "/about" "Text" "- About -" }}</li>
                        </ul>
                        <div class="flex flex-1 items-center justify-end gap-4">
                            {{ if .IsLoggedIn }}
                                <a href="/settings" class="text-sm text-backdrop-content-muted hover:text-backdrop-content active:text-backdrop-content hover:underline active:underline">Account</a>
                                <a hx-post="/logout" href="#" class="text-sm text-backdrop-content-highlight hover:text-backdrop-content-highlight active:text-backdrop-content-highlight hover:underline active:underline">Logout</a>
                            {{ else }}
                                <a href="/login" class="text-sm text-backdrop-content-muted hover:text-backdrop-content active:text-backdrop-content hover:underline active:underline">Login</a>
                                <a href="/register" class="text-sm text-backdrop-content-highlight hover:text-backdrop-content-highlight active:text-backdrop-content-highlight hover:underline active:underline">Register</a>
                            {{ end }}
                        </div>
                    </div>
                </nav>
            </header>
            <main class="flex-1 flex flex-col justify-center max-w-xl w-full mx-auto px-8">
                {{ template "content" . }}
            </main>
            <footer class="bg-footer text-footer-content py-6">
                <div class="max-w-md mx-auto px-4 text-center text-sm flex flex-col gap-3">
                    {{ template "component-external-link" dict
                        "Href" "https://github.com/memagu/mums"
                        "IconPath" "/static/icons/invertocat.svg"
                        "IconClass" "size-5"
                        "Class" "text-footer-content-highlight font-semibold"
                        "Text" "GitHub Repository"
                    }}  
                    <p>
                        &copy;&nbsp;2025
                        {{ template "component-external-link" dict
                            "Href" "https://www.mewi.dev"
                            "Class" "text-footer-content-highlight font-semibold"
                            "Text" "Melker Widén"
                        -}}
                        . All rights reserved.
                    </p>
                </div>
            </footer>
        </body>
    </html>
{{ end }}
