{{ define "component-primary-button" }}
    <button type="submit" class="w-full bg-brand-primary text-brand-primary-content py-2 rounded-md text-lg font-semibold hover:bg-brand-secondary active:bg-brand-secondary">
        {{ .Text }}
    </button>
{{ end }}
