{{ define "footer" }}
<footer class="text-gray-300 py-6">
    <div class="max-w-md mx-auto px-4 text-center text-sm space-y-3">
        <p>
            <a href="https://github.com/memagu/mums" target="_blank" rel="noopener noreferrer"
               class="inline-flex items-center justify-center text-blue-400 hover:underline focus:underline mx-autos space-x-2">
                <img src="/static/icons/invertocat.svg" alt="GitHub Logo" class="w-5 h-5" />
                <span>GitHub Repository</span>
            </a>
        </p>
        <p>
            &copy; 2025
            <a href="https://www.mewi.dev" target="_blank" rel="noopener noreferrer" class="text-blue-400 hover:underline focus:underline">
                Melker Widén
            </a>. All rights reserved.
        </p>
    </div>
</footer>
{{ end }}
